html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: radial-gradient(transparent, white), url("../images/kupono-kuwamura-LzgK6IMoSZM-unsplash.png") no-repeat center center fixed;
}

#navbar {
    background-color: rgb(49, 75, 122);
}

#siteIcon {
    width: 40px;
}

.title {
    margin: 50px auto;
    text-align: center;
}

.title .img-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

#siteLogo {
    width: 100%;
}

.title h1 {
    font-size: 100px;
}

.card_wrapper {
    width:65%;
    min-width: 300px;
    display:inline-flex;
    height:auto;
    /* margin-left:300px; */
    justify-content: center;
    margin-top: 50px;
}

.individual_content {
    width:100%;
    height:300px;
    display:inline-flex;
    height:auto;
    margin-left:100px;
    margin-top: 0;
}

<<<<<<< HEAD
.btn-group-vertical{
    display: inline-flex;
    border-radius: 8px;
    color: rgb(255, 255, 255)
=======
div.btn-group{
    display: inline-flex;
    width: 100%;
    height:auto;
    justify-content: center;
    flex-wrap: wrap;
>>>>>>> c19880b75803a1d46809a8880123df92a0fa7b1e
}

<<<<<<< HEAD
.card-columns{
    overflow: hidden;
}

.button_group{
    margin-left: 30px;
    display: inline-flex;
    align-items: flex-start;
}

.button_group .btn {
    width: 215px;
    background-color: rgb(95, 101, 114);
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 8px
}

.content { 
    margin-top: 100px;
    display:flex;
}
=======
 div.button_group{
     display:flex;
     align-items: center;
     width: 100%;
     height: auto;
     flex-wrap: wrap;
 }

 .button_group .btn {
     width: 220px;
     margin-left: 5px;
     margin-right: 5px;
 }

.dropdown-item {
    width: 220px;
}

 .content { 
     margin-top: 20px;
     display: block;
     align-items: center;
     text-align: center;
 }


@media only screen and (max-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
}

@media only screen and (max-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 1;
        }
}

@media only screen and (max-width: 690px) {
    .button_group .btn {
        margin-top: 5px;
    }
}

>>>>>>> c19880b75803a1d46809a8880123df92a0fa7b1e
