html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

#siteIcon {
    width: 40px;
}

.title {
    margin: 50px auto;
    text-align: center;
}

.title .img-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

#siteLogo {
    width: 100%;
}

.title h1 {
    font-size: 100px;
}

div.card_wrapper {
    width:65%;
    min-width: 300px;
    display:inline-flex;
    height:auto;
    /* margin-left:300px; */
    justify-content: center;
    margin-top: 50px;
}

div.individual_content {
    width:100%;
    height:300px;
    display:inline-flex;
    height:auto;
    margin-left:100px;
    margin-top: 0;
}

div.btn-group{
    display: inline-flex;
    width: 100%;
    height:auto;
    justify-content: center;
    flex-wrap: wrap;
}
 div.card-columns{
     overflow: hidden;
 }

 div.button_group{
     display:flex;
     align-items: center;
     width: 100%;
     height: auto;
     flex-wrap: wrap;
 }

 .button_group .btn {
     width: 220px;
     margin-left: 5px;
     margin-right: 5px;
 }

.dropdown-item {
    width: 220px;
}

 .content { 
     margin-top: 20px;
     display: block;
     align-items: center;
     text-align: center;
 }


@media only screen and (max-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
}

@media only screen and (max-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 1;
        }
}

@media only screen and (max-width: 690px) {
    .button_group .btn {
        margin-top: 5px;
    }
}

