html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: linear-gradient(rgb(145, 151, 170), rgb(69, 73, 83)) no-repeat center center fixed;
}

#siteIcon {
    width: 40px;
}

.title {
    margin: 50px auto;
    text-align: center;
}

.title .img-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

#siteLogo {
    width: 100%;
}

.title h1 {
    font-size: 100px;
}

#game_info_container_top {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1000px;
    width: 90%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#game_image_wrapper {
    margin: 0 auto;
}

#game_image {
    width: 100%;
    border-radius: 10px;
    padding: 10px;

}

#game_main_info {
    margin: 0 10px;
}

#game_main_info * {
    padding: 5px;
    margin: 0 auto;
}

#game_info_container_bottom {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1000px;
    width: 90%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#game_info_container_top * {
    padding: 10px;
}